services:
    www:
        build: .
        ports: 
            - "8002:80"
        volumes:
            - ./www:/var/www/html/
            - ./php.ini:/usr/local/etc/php/php.ini
            - ./vhost.conf:/etc/apache2/sites-enabled/000-default.conf
        links:
            - db
        networks:
            - default
    db:
        image: mysql:8.0
        ports: 
            - "3306:3306"
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_DATABASE: myDb
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test 
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
            - ./conf:/etc/mysql/conf.d
            - persistent:/var/lib/mysql
        networks:
            - default
    #phpmyadmin:
        #image: phpmyadmin/phpmyadmin
        #links: 
            #- db:db
        #ports:
            #- 8000:80
        #environment:
            #MYSQL_USER: user
            #MYSQL_PASSWORD: test
            #MYSQL_ROOT_PASSWORD: test 
volumes:
    persistent:
